<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
    
        <button *ngFor="let item of slideshows; let i = index" type="button" (click)="ativarSlide(i)"  [ngClass]="{'active': item.ativo}" data-bs-target="#myCarousel" data-bs-slide-to="0" aria-label="Slide 1"></button>  
    
    </div>
    <div class="carousel-inner">
      <div *ngFor="let item of slideshows" class="carousel-item" [ngClass]="{'active': item.ativo}">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"></rect></svg>
        <div class="container">
          <div class="carousel-caption" [ngClass]="{'text-start': item.posicao=='start', 'text-end': item.posicao=='end'}">
            <h1>{{item.titulo}}</h1>
            <p> {{item.descricao}}</p>          
          </div>
        </div>
      </div>
    </div>
    <button (click)="voltar()" class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button (click)="avancar()"  class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>